<div class='main-container'>
    <div class="q-header-list">
        <div class="q-nav">
            <div class="q-home" ng-click="vm.routeTo('home')">Home</div>
            <div class="q-about" ng-click="vm.routeTo('about')">About</div>
            <div class="q-cart" ng-click="vm.routeTo('list')">Menu</div>
        </div>
    </div>
    <div class="q-about-cont">
        <div class="q-ab-seperator"></div>
        <span class="q-a-img"></span>
        <div class="q-a-txt">When television was young, there was a hugely popular show based on the still popular fictional character of Superman. The opening of that show had a familiar phrase that went,"Look. Up in the sky.It's a bird. It's a Superman!" How beloved Superman
            has become in our culture and the worldwide fascination with extraterrestrials and all things cosmic only emphasizes that there is a deep curosity in all humans about nature and astronomy, even if many people would not know to call it astronomy.</div>
    </div>
    <span class="q-map"></span>
    <div class="q-subscribe">
        <div class="q-input-box">
            <input type="email" />
            <span class="hvr-pulse"></span>
        </div>
    </div>
    <div class="q-footer">
        <div class="q-foot-icons">
            <div class="q-twitter hvr-pulse "></div>
            <div class="q-fb hvr-pulse "></div>
            <div class="q-linkedin hvr-pulse "></div>
            <div class="q-insta hvr-pulse "></div>
        </div>
    </div>
</div>