<div class='login-container'>
    <div class="login-box">
        <span class="login-head">LOGIN</span>
        <button class="login-guest" ng-click="vm.goToHome()">Login as Guest</button>
        <span class="seperator"></span>
        <span class='login-or'>or</span>
        <button class="login-fb" ng-click="vm.goToHome()"><span class='i-fb'></span><span class='i-txt'>Signin with Facebook</span></button>
        <button class="login-google" ng-click="vm.goToHome()"><span class='i-fb'></span><span class='i-txt'>Signin with Google</span></button>
    </div>
</div>